<app-navbar></app-navbar>
<div class="container">
  
    <div class="text-center mt-5">
      <h3 >Home page</h3>
      <div class="content">
          <b style="margin-left: 50px;">Hello User!</b> <br><br>
          <div class="text-color" style="margin-right: 5px;">
          <ul>
          <li>This is a Sales Forecasting Application used to predict the future sales effectively!</li><br>
        <li>This application is simple to use.</li><br>
        <b style="padding-right: 5px;">Follow the below steps to get your Sales Prediction Instantly: </b><br>
          
        </ul>
      
          <ol>
            <li>If new user, click <b>register</b> in the navigation bar to register,After Registration you will be navigated to user page. </li><br>
            <li>Existing User? Then <b>Login</b> with your credentials. After Login you will be directed to Dashboard.</li><br>
            <li>Get you Sales Prediction with just 4 inputs:</li><br>
            <ol type="i">
              <li><i>Enter The date from which you have to predict</i></li><br>
              <li><i>Enter the deadline to which you have to predict</i></li><br>
              <li><i>Select the Periodicity(week,month,year)</i></li><br>
              <li><i>Finally upload the data set of the previous sales information</i></li><br>
              <li><i>Click submit to get the Prediction!</i></li><br>
            </ol>
          </ol>
        </div>
        </div>
      </div>
   
</div>
